<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <title>데이터 바우처 사업 </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23019901-1"></script>
  <script>

  </script>
  <script id="_carbonads_projs" type="text/javascript"
    src="https://srv.carbonads.net/ads/CKYIE23N.json?segment=placement:bootswatchcom&amp;callback=_carbonads_go">
  </script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<style>
  .bottom {
    width: 900px;
    border-bottom: 1px solid black;
  }
</style>

<body>
  {% include "navbar.html" %}
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <div class="bottom">
            <h1><strong>데이터 타입</strong></h1>
          </div><br><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="container">
          <div class="card border-primary mb-3" style="max-width: 100%; max-height: 100%;">

            <div class="card-header no-bg post-tags" style="padding: 0.25rem; height:100%; width:100%">
          <a href="{% url 'model' %}">

              <strong>영상 & 이미지 데이터</strong>
            </div>
            <div class="card-body" style="padding: 5px;">
              <img src="{% static 'img/video&image.png' %}" style="width: 100%;"></img>

            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="card border-primary mb-3 ml-3" style="max-width: 95%; max-height: 100%;">
            <div class="card-header no-bg post-tags" style="padding: 0.25rem; height:100%; width:100%">
          <a href="{% url 'model2' %}">

              <strong>수치형 & 통계 데이터</strong>
            </div>
            <div class="card-body" style="padding: 5px;">
              <img src="{% static 'img/통계.png' %}" style=" width: 100%;"></img>
              
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% include 'footer.html' %}

</body>

</html>